############
## CodeWarrior
############

*.lib
*.lst
*.o
*.tdt
*.abs
*.s19
*.map

############
## Monitor
############

*buffer.txt
*log.txt
bin/mtee.exe
*.txt

############
## Main
############
Sources/main.c

Codeblocks
HC12Lib_Transmitter_Data
HC12Lib_Control_Data

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini
